:root {
    --color-alpha: teal;
    --color-beta: orange;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

h1, h2, h3 {
    text-align: center;
    color: var(--color-beta);
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-alpha);
    color: white;
    font-family: serif;
    max-width: 900px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

body a {
    color: white;
    text-decoration: none;
}

body footer a {
    color: var(--color-beta);
    text-decoration: none;
}

body a:hover, body a:active {
    background-color: var(--color-beta);
    color: var(--color-alpha);
}

body a:before {
    content: '{';
}

body a:after {
    content: '}';
}

main > ol {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    row-gap: 10px;
    column-gap: 30px;
    border-bottom: 2px solid var(--color-beta);
    padding-bottom: 30px;
    min-width: 800px;
}

main > ol > li {
    padding: 0;
    max-width: 250px;
}

main > ol > li img {
    display: block;
    margin: 5px;
    max-width: 88px;
    height: auto;
    font-style: italic;
    overflow: hidden;
}

body > ol > li a:visited:before, body > ol > li a:visited:after {
    color: var(--color-alpha);
}

body > div > ul > li, body > div > ol > li {
    color: var(--color-beta);
}

body > footer {
    margin: 30px;
}

body > footer > p {
    max-width: 600px;
}

body > footer > p span.hide {
    display: none;
}

body > footer > img {
    display: inline-block;
    width: 100px;
    height: auto;
    margin-bottom: 30px;
}

body > ol > li:target a {
    color: var(--color-alpha);
}

body > ol > li:target {
    background: var(--color-beta);
}

main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


@media screen and (max-width: 820px) {
    main > ol {
        grid-template-columns: 50% 50%;
        gap: 0;
        width: 600px;
        padding-left: 0;
        min-width: 0;
    }

    main > ol > li {
        width: 200px;
        white-space: wrap;
        overflow-wrap: break-word;
        text-align: center;
    }

    ol > li {
        justify-self: center;
        align-self: center;
    }

    main > ol > li img {
        margin: 5px auto 15px auto;
    }
}

@media screen and (max-width: 550px) {
    main > ol {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 300px) {
    main > ol > li {
        white-space: wrap;
        width: 150px;
    }
}

@media screen and (max-width: 200px) {
    main > ol > li {
        white-space: wrap;
        width: 100px;
    }
}

@media (prefers-color-scheme: dark) {
}
