:root {
    --color-alpha: teal;
    --color-beta: orange;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

h1, h2, h3 {
    text-align: center;
    color: var(--color-beta);
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-alpha);
    color: white;
    font-family: serif;
    max-width: 900px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

body a {
    color: white;
    text-decoration: none;
}

body footer a {
    color: var(--color-beta);
    text-decoration: none;
}

body a:hover {
    background-color: var(--color-beta);
    color: var(--color-alpha);
}

body a:before {
    content: '{';
}

body a:after {
    content: '}';
}

main > ol {
    margin: 30px;
    padding: 0px 30px 30px;
    column-count: 3;
    display: block;
    border-bottom: 2px solid var(--color-beta);
}

main > ol > li {
    padding-right: 30px;
    page-break-inside: avoid;
    break-inside: avoid;
}

main > ol > li img {
    display: block;
    margin: 5px;
    max-width: 88px;
    height: auto;
    font-style: italic;
    overflow: hidden;
}

body > ol > li a:visited:before, body > ol > li a:visited:after {
    color: var(--color-alpha);
}

body > div > ul > li, body > div > ol > li {
    color: var(--color-beta);
}

body > footer {
    margin: 30px;
}

body > footer > p {
    max-width: 600px;
}

body > footer > p span.hide {
    display: none;
}

body > footer > img {
    display: inline-block;
    width: 100px;
    height: auto;
    margin-bottom: 30px;
}

body > ol > li:target a {
    color: var(--color-alpha);
}

body > ol > li:target {
    background: var(--color-beta);
}

@media screen and (max-width: 800px) {
    body > ol {
        column-count: 2;
    }
}

@media screen and (max-width: 600px) {
    body > ol {
        column-count: 1;
    }
}

@media (prefers-color-scheme: dark) {
}
